body{
  margin: 0;
}
.displayImage{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.slider-container {
    overflow: hidden;
    border: none!important;
    background-color: unset;
    box-shadow: unset!important;
  }
  
  .slider-images {
    display: flex;
    transition: transform 1s ease-in-out;  
  }
  
  .slider-card {
   cursor: pointer;
   border-radius: .8rem !important;
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    border-radius: .8rem !important;    
  }
  
  .slider-images {
    transform: translateX(calc(-20% * var(--pre-slice-index)));
  }

  .playPauseButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25BEDA !important;
    border-radius: 100%!important;
    color: white!important;   
  }
  

  .grayscale{
    filter: grayscale(100%);
  }
  
  